menu {
    @media only screen and (max-width: 375px) {
    .sdmnu{
        height:100%;
        padding:0%;
    }
    .acntinf{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
    }
    .imgnvprfl{
        width:25vw;
        height:25vw;
        border: 3px solid #FFFFFF;
        border-radius:50%;
    }
    .nvusrnm{
        font-size:3.5vw;
        font-style:'roboto';
        color:#FFFFFF;
        margin-top:3%;
    }
    .vrfdstts{
       color:#1ae78f; //use #ffdb00 for unverified user
       font-style:'roboto';
       font-size:3.5vw;
    }
    .vrfdsttsdiv{
        padding:0%;
        padding-left:2vw;
        padding-right:2vw;
        padding-top:.10vw;
        padding-bottom:.10vw;
        border:1px solid #1ae78f; //use #ffdb00 for unverified user
        margin-top:1.50vw;
    }
    .nvbtnlstsd{
        overflow-y:scroll;
        padding:0% !important;
        margin:0% !important;
    }
    .itmpnlnv{
        border-bottom:.20px solid rgb(38, 39, 54) !important;
    }
    .btmbtnlgout{
        border:0 !important;
        padding:0% !important;
        bottom:0 !important;
        position:absolute;
     }
     .lgoutlbl{
        font-style:'roboto';
        font-weight:normal;
        color:#FFFFFF;
        font-size:3.8vw;
    }

}
@media only screen and (min-width: 376px) {
    .sdmnu{
        height:100%;
        padding:0%;
    }
    .acntinf{
        width:100%;
        height:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-align:center;
    }
    .imgnvprfl{
        width:16vh;
        height:16vh;
        border: 3px solid #FFFFFF;
        border-radius:50%;
    }
    .nvusrnm{
        font-size:2.5vh;
        font-style:'roboto';
        color:#FFFFFF;
        margin-top:3%;
    }
    .vrfdstts{
        color:#1ae78f; //use #ffdb00 for unverified user
        font-style:'roboto';
        font-size:2.2vh;
     }
     .vrfdsttsdiv{
         padding:0%;
         padding-left:2vw;
         padding-right:2vw;
         padding-top:.10vw;
         padding-bottom:.10vw;
         border:1px solid #1ae78f; //use #ffdb00 for unverified user
         margin-top:1.50vw;
     }
    .nvbtnlstsd{
        overflow-y:scroll;
        padding:0% !important;
        margin:0% !important;
    }
    .itmpnlnv{
       
        border-bottom:.20px solid rgb(38, 39, 54) !important;
    }
    .btmbtnlgout{
        border:0 !important;
        padding:0% !important;
        bottom:0 !important;
        position:absolute;
    }
    .lgoutlbl{
        font-style:'roboto';
        font-weight:normal;
        color:#FFFFFF;
        font-size:3.8vw;
    }
}
}