page-cashindetails {
@media only screen and (max-width: 375px) {
    .scroll-content{
        padding:0%;
        background-color:#2E2F41;
    }
    .scroll-content::-webkit-scrollbar {
        border:none;
        width:0;
        background: rgba(0,0,0,0);
    }
    .upprcntnr{
        width:100vw;
        height:35vh;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .instrctntp{
        width:90vw;
        color:#FFFFFF;
        padding:0%;
        font-size:5vw;
        font-style:'roboto';
        text-align:center;
    }
    .amnttxtcntnr{
        width:85vw;
        background-color:#2E2F41;
        color:#FFFFFF;
        text-align:center;
        padding:0%;
        margin-top:10%;
        border:0%;
        border:2px solid rgb(93, 122, 238) !important;
        border-radius:25px;
    }
    .cshicntp{
        width:45vw;
        height:45vw;
        margin-bottom:5%;
    }
    .amnttxt{
        font-size:5vw;
        border:0px !important;
    }
    .amnttxt :focus{
        border:0px !important;
    }
    .amnttxt :active{
        border:0px !important;
    }
    .lblamnt{
        padding:0%;
        padding-left:5vw;
        font-size:5vw;
    }
    .lwrcntnr{
        width:100vw;
        height:auto;
        padding:0%;
        padding-top:2%;
        display:flex;
        flex-direction:column;
        align-items:center;    
    }
    .rcptdtlsbtm{
        color:#FFFFFF;
        font-size:4.5vw;
        font-style:'roboto';
        padding-top:2%;
        padding-bottom:3%;
        font-weight:normal;
    }
    .refnmbrcntnr{
        width:100%;
        height:60%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .rfnmbrs{
        color:rgb(93, 122, 238);
        font-style:'roboto';
        font-size:5.8vw;
        font-weight:bold;
    }
    .rfnmbrhdr{
        color:#FFFFFF;
        font-style:'roboto';
        font-size:4vw;
        margin-bottom:1%;
        margin-top:0%;
    }
    .prcdbtn{
        width:90vw;
        margin:0%;
        font-size:4.5vw;
        font-style:'roboto';
        color:#FFFFFF;
        padding-top:7%;
        padding-bottom:7%;
        bottom:0;
        position:absolute;
        margin-bottom:5vw;
        margin-left:5vw;
    }
    .ttltxt{
        font-weight:bold;
        border-top:1px solid #FFFFFF;
    }
    .dtlstblbtm{
        width:80%;
        padding:0%;
        margin-top:5vw;
    }
    .bgrcpt{
        background-color:#35364b;
        width:96vw;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:8%;
        padding-bottom:8%;
    }
    .drctionsdv{
        width:98vw;
        height:auto;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:5%;
    }
    .tplbl{
        color:#FFFFFF;
        font-size:4.5vw;
        font-style:'roboto';
        font-weight:normal;
    }
  }
  @media only screen and (min-width: 376px) {
    .scroll-content{
        padding:0%;
        background-color:#2E2F41;
    }
    .scroll-content::-webkit-scrollbar {
        border:none;
        width:0;
        background: rgba(0,0,0,0);
    }
    .upprcntnr{
        width:100vw;
        height:35vh;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .instrctntp{
        width:90vw;
        color:#FFFFFF;
        font-size:4.5vw;
        font-style:'roboto';
        text-align:center;
    }
    .amnttxtcntnr{
        width:85vw;
        background-color:#2E2F41;
        color:#FFFFFF;
        text-align:center;
        padding:0%;
        margin-top:10%;
        border:0%;
        border:2px solid rgb(93, 122, 238) !important;
        border-radius:25px;
    }
    .amnttxt{
        font-size:5vw;
        border:0px !important;
    }
    .amnttxt :focus{
        border:0px !important;
    }
    .amnttxt :active{
        border:0px !important;
    }
    .lblamnt{
        padding:0%;
        padding-left:5vw;
        font-size:5vw;
    }
    .lwrcntnr{
        width:100vw;
        height:auto;
        padding:0%;
        padding-top:2%;
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .rcptdtlsbtm{
        color:#FFFFFF;
        font-size:4.5vw;
        font-style:'roboto';
        padding-top:2%;
        padding-bottom:3%;
        font-weight:normal;
    }
    .refnmbrcntnr{
        width:100%;
        height:60%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .rfnmbrs{
        color:#5d7aee;
        font-style:'roboto';
        font-size:5.5vw;
        font-weight:bold;
    }
    .rfnmbrhdr{
        color:#FFFFFF;
        font-style:'roboto';
        font-size:4vw;
        margin-bottom:3%;
    }
    .cshicntp{
        width:45vw;
        height:45vw;
        margin-bottom:5%;
    }
    .prcdbtn{
        width:90vw;
        margin:0%;
        font-size:4.5vw;
        font-style:'roboto';
        color:#FFFFFF;
        padding-top:7%;
        padding-bottom:7%;
        bottom:0;
        position:absolute;
        margin-bottom:5vw;
        margin-left:5vw;
    }
    .ttltxt{
        font-weight:bold;
        border-top:1px solid #FFFFFF;
    }
    .dtlstblbtm{
        width:80%;
        padding:0%;
        margin-top:5vw;
    }
    .bgrcpt{
        background-color:#35364b;
        width:96vw;
        height:auto;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:8%;
        padding-bottom:8%;
    }
    .drctionsdv{
        width:98vw;
        height:auto;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        padding-top:5%;
    }
    .tplbl{
        color:#FFFFFF;
        font-size:4.5vw;
        font-style:'roboto';
        font-weight:normal;
    }
  }
}