page-home {
@media only screen and (max-width: 375px) {
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
            border-top: 0 !important; 
        }
        .scroll-content::-webkit-scrollbar {
            border:none;
            width:0;
            background: rgba(0,0,0,0);
        }
        .mnulbl{
            font-size:4vw;
        }
        .grndnvflxr{
            padding:0%;
        }
        .hdrphpwlltup{
            width:100%;
            height:auto;
        /*     background-color:green; */
            padding:0%;
            display:flex;
            flex-direction:row;
            align-items:center;
            justify-content:center;
            padding-top:7vw;
            padding-bottom:7vw;
            padding-left:2vw;
            padding-right:2vw;
        }
        .crptopnlsscndup{
            width:100vw;
            height:auto;
            padding:0%;
            padding-top:3vw;
            padding-bottom:5vw;
            display:flex;
            flex-direction:column;
            justify-content:center; 
            align-items:center;
            margin-bottom:2vw;
          /*   background-color:pink; */
        }
        .crptolgolft{
            width:10vw;
            height:10vw;
           /*  background-color:yellow; */
            padding:0%;
            border-radius:10px;
        }
        .snglcrptopnlmid{
            width:95vw;
            height:auto;
            padding:0%;
            padding-left:2vw;
            padding-right:2vw;
            padding-top:2vw;
            padding-bottom:2vw;
            border-radius:9px;
         /*    background-color:teal; */
            background: linear-gradient(to right,  #282838 , #1E1E28 );
            display:flex;
            flex-direction:row;
            margin-bottom:1.5vw;
        }
        .psorightamntmid{
            width:25%;
            height:auto;
       /*      background-color:red; */
            display:flex;
            flex-direction:row;
            justify-content:flex-end;
            padding-bottom:1vw;
            padding-left:1%;
            padding-right:1%;
        }
        .nwsldsndadds{
            width:95%;
           /*  background-color:yellow; */
            height:auto;
            padding:0%;
            margin-left:2.5%;
            margin-top:1vw;
        }
        .imglftofpnl{
            width:auto;
            height:auto;
            padding:0% !important;
           /*  background-color:yellow; */
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .imglftcntnt{
            width:20vw;
            height:20vw;
            /* background-color:cyan; */
        }
        .swiper-pagination-bullet-active {
            background: $slides-pagination-bullet-color-active;
          }
        .adsandvrfypnls{
            width:100%;
            display:flex;
            flex-direction:row;
          /*   background-color:green; */
            padding:0%;
            align-items:center;
            padding-top:1.5vw;
            padding-bottom:1.5vw;
            padding-left:4vw;
            padding-right:4vw;
        }
        .rghtpnlinfos{
            width:74vw;
            height:20vw;
           /*  background-color:orange; */
            display:flex;
            flex-direction:column;
            text-align:left;
            justify-content:center;
            padding:1vw;
            margin-left:1vw;
        }
        .ttlhdngofpnl{
            color:#FFFFFF;
            font-size:4vw;
            font-style:'roboto';
            font-weight:bold;
        }
        .sbttlhdngofpnl{
            color:#B5B5B5;
            font-size:3.5vw;
            font-style:'roboto';
            font-weight:normal;
        }
        .pnlscntnradsandvrfy{
            width:100%;
            /* background-color:#FFFFFF; */
            height:auto;
            padding:0%;
        }
        .phplbllft{
            color:#BABABA;
            font-size:2.8vw;
            text-align:right;
            align-self:flex-end;
        }
        .lblinpesorhgt{
            color:#BABABA;
            font-size:2.8vw;
            text-align:right;
            align-self:flex-end;
            margin-left:2% !important;
        }
        .swiper-pagination {
           bottom:0 !important;
           position: absolute !important;
        }
        .crptoimglgo{
            border-radius:10px; 
        }
        .dtlscntrdvpnl{
            width:65%;
           /*  background-color:orange; */
            display:flex;
            flex-direction:column;
            padding:0%;
            justify-content:center;
            align-items:left;
            padding-left:2vw;
        }
        .crptonmlblup{
            font-size:3.5vw;
            color:#FFFFFF;
            font-weight:normal;
            font-style:'roboto';
        }
        .crptoamnlblundr{
            font-size:4.5vw;
            color:#FFFFFF;
            font-weight:bold;
            font-style:'roboto';
        }
        .hdngtopupwllt{
            width:100%;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .wllthdngup{
            font-size:3vw;
            color:#FFFFFF;
            font-style:'roboto';
            font-weight:normal;
        }
        .grndrwdv{
            width:100vw;
            padding:0%;
            margin:0%;
            display:flex;
            align-items:center;
        }
        .nvbtncl{
            width:100%;
            padding:0%;
            display:flex;
            align-items:center;
            justify-content:center;
        }
        .swapbtncl{
            padding:0%;
            display:flex;
            align-items:center;
            justify-content:center;
            margin-left:3%;
        }
        .nvtglr{
            margin:0%;
        }
        .flxrcl{
            padding:0%;
        }
        .flxrcltwo{
            padding:0%;
        }
        .navdivsml{
            display:none;
        }
        .wallet{
            padding:0%;
            padding-top:2%;
            padding-bottom:2%;
            width: 100vw;
            display:flex;
            flex-direction:row;
        }
        .flxr{
            width:100%;
            padding-left:3%;
            display:flex;
            flex-direction:column;
        }
        .flxrtwo{
            display:flex;
            width:10vw;
            padding:1%;
            align-items:center;
            justify-content:center;
        }
        .wallethd{
            padding-left:1%;
        }
        .sbttle{
            font-style:'roboto';
            font-size:3.5vw;
            padding-top:1%;
            padding-bottom:1%;
            color:#FFFFFF;
        }
        .crncylbl{
            font-size:5vw;
            color:#FFFFFF;
            font-style:'roboto';
            margin-right:1vw;
            font-weight:normal;
        }
        .psocrcyamntup{
            font-size:6.5vw;
            color:#FFFFFF;
            font-style:'roboto';
            font-weight:bold;
        }
        .sbttleamnt{
            font-style:'roboto';
            font-size:5vw;
            color:#FFFFFF;
            font-weight:bold;
        }
        .sbtlbtn{
            border:none;
            padding:0%;
            width:auto;
            height:auto;
            background-color:transparent;
        }
        .navdiv{
            display:none;    
            width:100vw;
            height:63vw;
            padding:0%;
            display:flex;
            flex-direction:column;
            bottom:0;
            position:absolute;
            align-items:center;
            justify-content:center;
        }
        .bgnav{
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
            padding:0%;
        }
        .topnav{
            display:flex;
            flex-direction:row;
            padding:0%;
            width:100vw;
            background-color:transparent;
            align-items:center; 
            justify-content:center;
            margin-bottom:.1%;
        }
        .navtbs{
            background-color:transparent;
            width:30vw;
            margin-right:1%;
            margin-left:1%;
            height:25vw;
            margin:.05%;
            border:none;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
        }
        .nvicon{
            font-size:7vw;
            color:#FFFFFF;
            margin:0%;
        }
        .nvlbl{ 
            font-style:'roboto';
            color:#FFFFFF;
            font-size:3.5vw;
            margin-top:4%;     
        }
        .nvbtn{
            padding:0%;
            background-color:#1E1E28;
        }
        .fabbtncrcls{
            margin-left:1%;
            margin-right:1%;
        }
        .navicnlft{
            font-size:5.8vw;
        }
        .shrcticns{
            font-size:5vw;
            margin-bottom:2%;
        }
        .shrtctnvlbls{
            width:100%;
        }
        .nvlbllnk{
            min-height:10vh !important;
            max-height:10vh !important;
            font-style:'roboto';
            font-weight:normal;
            color:#FFFFFF;
            font-size:3.8vw;
        }    
    .whtsnw{
        padding:0%;
        display:flex;
        flex-direction:column;
        width:100vw;
        height:13vw;
        justify-content:center;
        padding-left:3%;
        -webkit-box-shadow: 0 10px 6px -6px rgb(185, 185, 185);
        -moz-box-shadow: 0 10px 9px -6px rgb(185, 185, 185);
             box-shadow: 0 10px 9px -6px rgb(185, 185, 185);
        z-index:3;
    }
    .prmpnl{
        padding:0%;
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:100%;
    }
    .whtlbl{
        font-style:'roboto';
        font-size:4vw;
    }
    .nwcntnt{
        padding:0%;
        display:flex;
        flex-direction:column;
        width:100vw;
        height:30vh;
        background-color:#E3E3E3;
        align-items:center;
    }
    .cntntcrd{
        padding:0%;
        padding:1%;
        display:flex;
        display:row; 
        margin-top:.05%;
        width:100vw;
        height:60vw;
    }
    .nwcntnimg{
        width:100vw;
        height:auto;
    }
    .scrlnw{
        width:100vw;
        height:32vh;
        padding:0%;
    }
    .notifbtn{
        width:10vw;
        float: right;
        font-size:6vw;
        padding:0%;
        padding-left:1%;
        padding-right:1%;
        border:0% !important;
        box-shadow:none;
        color:white;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .cntnrnwdiv{
        padding:0%;
        width:100vw;
        height:auto;
        background-color:#1E1E28;
    }
    .btmprtdv{
        background-color:#2E2F41;
        width:100vw;
        padding:0%;
        min-height:35vh;
        max-height:35vh;
    }
    .vrfypnl{
        width:100%;
        height:35vh;
        background-color:transparent;
        padding:1%;
    }
    .pnlhdr{
        width:100%;
        height:30%;
        background-color:#1E1E28;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        border-radius: 3px 3px 0px 0px;
    }
    .pnlcntnt{
        width:100%;
        height:40%;
        padding-bottom:3vw;
        background-color:#1E1E28;
    }
    .pnlftr{
        width:100%;
        height:25%;
        background-color:#1E1E28;
    }
    .pgrbtvrfy{
        width:100%;
        height:100%;
        background-color:transparent;
    }
    .vrfysldr{
        background-color:transparent;
        padding:0%;
        padding:1%;
        margin:0%;
    }
    .sldrsandadspnls{
        width:100%;
        background-color:#1E1E28;
        padding:0%;
        margin:0%;
        margin-bottom:5vw;
        margin-top:2vw;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .vrfybtnbtm{
        width:95%;
        color:#FFFFFF;
        font-style:'roboto';
        font-weight:normal;
        font-size:4vw;
    }
    .ttlhdng{
        color:#FFFFFF;
        font-size:4.3vw;
        font-style:'roboto';
    }
    .sbttlhdng{
        color: rgb(179, 178, 228);
        font-size:3.8vw;
        font-style:'roboto';
    }
    .qrhldrhmdv{
        width:40vw;
        height:40vw;
        padding:0%;
        margin-left:30vw;
        margin-top:3%;
        margin-bottom:3%;
        background-color:transparent;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .qrcrd{
        background-color:transparent;
        border:none;
        padding:0%;
        margin:0%;
    }
    .qrimg{
        width:100%;
        height:100%;
        padding:0%;
        margin:0%;
    }
    .nvbtnshrt{
        width:25vw;
        height:auto;
        padding:0%;
        padding-top:3%;
        padding-bottom:3%;
        margin:0%;
        border-radius:0%;
        font-size:3.3vw;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .shrtcttbl{
        width:100%;
        padding:0%;
    }
    .navibtns{
        width:100vw;
        height:auto;
        background-color:#2E2F41;
        padding:0%;
        display:flex;
        flex-direction:row;
    }
    .grnddvcntr{
        width:100vw;
        height:auto;
        display:flex;
        flex-direction:column;
        border-top: 0 !important; 
    }
    .rfrshr{
        border:none;
        background-color:#1E1E28;
        padding:0%;
        margin:0%;
        border-top: 0 !important; 
    }
    .rfrshrcntnt{
        border:none;
        padding:0%;
        margin:0%;
        background-color:#1E1E28;
        border-top: 0 !important; 
    }
    .hstrydvcntr{
        overflow-y:scroll !important;
        overflow-x:hidden;
        width:100vw;
        min-height:auto;
        max-height:50vh;
        background-color:transparent;
        padding:0%;
        padding-bottom:2vw;
        margin-top:1vw;
    }
    .ldingsgndv{
        width:100vw;
        height:auto;
        padding:0%;
        padding-top:10vw;
        padding-bottom:10vw;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .spnrcrcl{
        width:10vw;
        height:10vw;
    }
    .hstrypnls{
        width:96vw;
        height:auto;
        margin:0%;
        padding:0%;
        padding:2%;
        padding-bottom:1%;
        margin-left:2vw;
        margin-top:0%;
    }
    .tbldtlbl{
        width:100%;
        text-align:right;
    }
    .hstrytblpnls{
        width:100%;
        padding:0%;
        background-color:transparent;
        padding:2%;
    }
    .hstrypnllblttls{
        color:#FFFFFF;
        font-size:4.2vw;
        font-style:'roboto';
        padding-top:1%;
        padding-bottom:1%;
        border:1px solid white;
    }
    .hstrypnllblsbttl{
        width:100%;
        font-size:3.8vw;
        font-style:'roboto';
        color:rgb(207, 206, 206);
    }
    .hstrypnlsdvvr{
        width:100%;
        height:auto;
        display: flex;
        flex-direction:column;
        border-bottom:1px solid #2a2b3a;
        background-color:#35364b;
        margin-bottom:2vw;
        padding:2vw;
    }
    .hstrypnlsdvvrsmr{
        width:100%;
        height:auto;
        display: flex;
        flex-direction:column;
    }
    .hstrypnlsdvvrsmrnvi{
        display:none;
    }
    .tpdvpnl{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:row;
        padding-top:2vw;
        padding-bottom:1.5vw;
    }
    .btmdvpnl{
        width:100%;
        height:auto;
        font-style:'roboto';
        font-size:3.5vw;
        color:#FFFFFF;
        padding-top:0vw;
        padding-bottom:2vw;
        display:flex;
        flex-direction:row;
    }
    .ttldv{
        width:70%;
        font-style:'roboto';
        font-size:4.5vw;
        color:#FFFFFF;
    }
    .descbtm{
        width:70%;
        font-style:'roboto';
        font-size:3.8vw;
        color:#FFFFFF;
    }
    .dtdtl{
        width:30%;
        text-align:right;
        font-style:'roboto';
        font-size:3.3vw;
        color:#FFFFFF;
    }
    .smrtxt{
        width:100%;
        font-size:4.5vw;
        font-style:'roboto';
        font-weight:bold;
        padding-top:2vw;
        padding-bottom:1vw;
        color:rgb(93, 122, 238);
        text-align:center;
    }
    .crncyctanr{
        background-color:#1E1E28;
        width:100vw;
        height:auto;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding-top:3vw;
        padding-bottom:3vw;
    }
    .phpwlltdv{
        background-color:orange;
        width:95vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        padding:0%;
        padding:2vw;
        margin-bottom:2vw;
    }
    .crptobtmpnl{
        background-color:transparent;
        width:95vw;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        padding:0% !important;
        margin-bottom:2vw;
    }
    .phphdrtp{
        width:100%;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:transparent;
    }
    .phphdrtpsbcntnr{
        width:100%;
        height:auto;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:transparent;
        padding-top:1vw;
        padding-bottom:1vw;
    }
    .crptocrcypnl{
        background-color:pink;
        width:49%;
        height:auto;
        padding:2vw;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        margin:0% !important;
    }
    .crncynmtp{
        font-size:4.5vw;
        font-style:'roboto';
        color:#FFFFFF;
    }
    .crncyamntsb{
        font-size:5vw;
        font-style:'roboto';
        color:#FFFFFF;
        font-weight:bold;
    }
    .spcrmdl{
        width:3vw;
        height:auto;
        margin:0%;
    }
}


//----------------------------------------------------------------------------------------------------
@media only screen and (min-width: 376px) {
    .scroll-content{
        padding:0%;
        background-color:#2E2F41;
        border:0 !important;
    }
    .scroll-content::-webkit-scrollbar {
        border:none;
        width:0;
        background: rgba(0,0,0,0);
    }
    .grndnvflxr{
        padding:0%;
    }
    .grndrwdv{
        width:100vw;
        padding:0%;
        margin:0%;
        display:flex;
        align-items:center;
    }
    .rfrshr{
        border:none;
        background-color:#1E1E28;
        padding:0%;
        margin:0%;
        border-top: 0 !important; 
    }
    .rfrshrcntnt{
        border:none;
        padding:0%;
        margin:0%;
        background-color:#1E1E28;
        border-top: 0 !important; 
    }
    .nvbtncl{
        width:100%;
        padding:0%;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .nvtglr{
        margin:0%;
    }
    .flxrcl{
        padding:0%;
    }
    .flxrcltwo{
        padding:0%;
    }
    .flxr{
        width:100%;
        padding-left:3%;
        display:flex;
        flex-direction:column;
    }
    .wallethd{
        padding-left:1%;
    }
    .sbttle{
        font-style:'roboto';
        font-size:2.5vh;
       color:#FFFFFF;
       padding:0%;
    }
    .sbttleamnt{
        width:70%;
        font-style:'roboto';
        font-size:2.5vh;
        padding:0%;
        padding-left:1%;
        color:#FFFFFF;
        font-weight:bold;
    }
    .swapbtncl{
        padding:0%;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-left:3%;
    }
    .navicnlft{
        font-size:3vh;
    }
    .nvlbllnk{
        font-style:'roboto';
        font-weight:normal;
        color:#FFFFFF;
        font-size:2.3vh;
    }
    .cntnrnwdiv{
        padding:0%;
        width:100vw;
        height:auto;
        background-color:#1E1E28;
    }
    .btmprtdv{
        background-color:#2E2F41;
        padding:0%;
        min-height:35vh;
        max-height:35vh;
    }
    .pgrbtvrfy{
        width:100%;
        height:100%;
        background-color:transparent;
    }
    .vrfysldr{
        background-color:transparent;
        padding:0%;
        padding:1%;
        margin:0%;
    }
    .vrfypnl{
        width:100%;
        height:35vh;
        background-color:transparent;
        padding:1%;
    }
    .pnlhdr{
        width:100%;
        height:30%;
        background-color:#1E1E28;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        border-radius: 3px 3px 0px 0px;
    }
    .ttlhdng{
        color:#FFFFFF;
        font-size:2.5vh;
        font-style:'roboto';
    }
    .sbttlhdng{
        color: rgb(179, 178, 228);
        font-size:2vh;
        font-style:'roboto';
    }
    .pnlcntnt{
        width:100%;
        height:40%;
        padding-bottom:3vw;
        background-color:#1E1E28;
    }
    .pnlftr{
        width:100%;
        height:25%;
        background-color:#1E1E28;
    }
    .vrfybtnbtm{
        width:95%;
        color:#FFFFFF;
        font-style:'roboto';
        font-weight:normal;
        font-size:2.5vh;
    }
    .grnddvcntr{
        width:100vw;
        height:auto;
        display:flex;
        flex-direction:column;
    }
    .qrhldrhmdv{
        width:40vw;
        height:40vw;
        padding:0%;
        margin-left:30vw;
        margin-top:3%;
        margin-bottom:3%;
        background-color:transparent;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .qrcrd{
        background-color:transparent;
        border:none;
        padding:0%;
        margin:0%;
    }
    .qrimg{
        width:100%;
        height:100%;
        padding:0%;
        margin:0%;
    }
    .navibtns{
        width:100vw;
        height:auto;
        background-color:#2E2F41;
        padding:0%;
        display:flex;
        flex-direction:row;
    }
    .nvbtnshrt{
        width:25vw;
        height:auto;
        padding:0%;
        padding-top:3%;
        padding-bottom:3%;
        margin:0%;
        border-radius:0%;
        font-size:3.3vw;
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .shrtcttbl{
        width:100%;
        padding:0%;
    }
    .shrcticns{
        font-size:4.3vw;
        margin-bottom:2%;
    }
    .shrtctnvlbls{
        width:100%;
    }
    .hstrydvcntr{
        overflow-y:scroll !important;
        overflow-x:hidden;
        width:100vw;
        min-height:auto;
        max-height:50vh;
        background-color:transparent;
        padding:0%;
        padding-bottom:2vw;
        margin-top:1vw;
    }
    .hstrypnls{
        width:96vw;
        height:auto;
        margin:0%;
        padding:0%;
        padding:2%;
        padding-bottom:1%;
        margin-left:2vw;
        margin-top:2%;
    }
    .hstrytblpnls{
        width:100%;
        padding:0%;
        background-color:transparent;
        padding:2%;
    }
    .hstrypnllblttls{
        color:#FFFFFF;
        font-size:4.2vw;
        font-style:'roboto';
        padding-top:1%;
        padding-bottom:1%;
    }
    .tbldtlbl{
        text-align:right;
    }
    .hstrypnllblsbttl{
        width:100%;
        font-size:3.8vw;
        font-style:'roboto';
        color:rgb(207, 206, 206);
    }
    .hstrypnlsdvvr{
        width:100%;
        height:auto;
        display: flex;
        flex-direction:column;
        border-bottom:1px solid #2a2b3a;
        background-color:#35364b;
        margin-bottom:2vw;
        padding:2vw;
    }
    .tpdvpnl{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:row;
        padding-top:2vw;
        padding-bottom:1.5vw;
    }
    
    .ttldv{
        width:70%;
        font-style:'roboto';
        font-size:4.5vw;
        color:#FFFFFF;
    }
    .dtdtl{
        width:30%;
        text-align:right;
        font-style:'roboto';
        font-size:3.3vw;
        color:#FFFFFF;
    }
    .btmdvpnl{
        width:100%;
        height:auto;
        font-style:'roboto';
        font-size:3.5vw;
        color:#FFFFFF;
        padding-top:0vw;
        padding-bottom:2vw;
        display:flex;
        flex-direction:row;
    }
    .hstrypnlsdvvrsmr{
        width:100%;
        height:auto;
        display: flex;
        flex-direction:column;
    }
    .smrtxt{
        width:100%;
        font-size:4.5vw;
        font-style:'roboto';
        font-weight:bold;
        padding-top:2vw;
        padding-bottom:1vw;
        color:rgb(93, 122, 238);
        text-align:center;
    }
    .descbtm{
        width:70%;
        font-style:'roboto';
        font-size:3.8vw;
        color:#FFFFFF;
    }
    .ldingsgndv{
        width:100vw;
        height:auto;
        padding:0%;
        padding-top:10vw;
        padding-bottom:10vw;
        display:flex;
        align-items:center;
        justify-content:center;
    }
}
}


