<ion-header>
  <ion-navbar color="header" style="padding:0%;">
    <ion-grid>
      <ion-row>

        <ion-grid class="grndnvflxr">
          <ion-row class="grndrwdv">

            <ion-col col-2 class="nvbtncl">
              <button ion-button menuToggle class="nvtglr" col-12 (click)="openMenu()">
                <ion-icon name="md-menu"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-8 class="hdngtopupwllt">
            <div class=""> 
              <label class="wllthdngup">
              WALLET
            </label>
            </div>
           </ion-col>
            </ion-row>


            <ion-row>
              <div class="hdrphpwlltup">
                  <label class="crncylbl">Php</label>
                  <label class="psocrcyamntup">{{balance}}</label>
              </div>
          </ion-row>

        </ion-grid>
      </ion-row>
    </ion-grid>

  </ion-navbar>
</ion-header>

<!-- Side Navigation -->
<menu [name]='name'></menu>
<!-- End Side Navigation -->





<ion-content class="scroll-content">
  <ion-refresher (ionRefresh)="doRefresh($event)" class="rfrshr" color="header">
    <ion-refresher-content color="header" class="rfrshrcntnt"></ion-refresher-content>
  </ion-refresher>
<div class="grnddvcntr">
<!-- Start Main Content -->
  <div class="cntnrnwdiv">

<!-- Crypto Panels New -->
<div class="crptopnlsscndup">
  <!-- Start BTC Panel -->
  <div class="snglcrptopnlmid" *ngIf="v_btc != '0'">
    <div class="crptolgolft">
      <img src="assets/imgs/cryptologo/btclogo.png" class="crptoimglgo"/>
    </div>
    <div class="dtlscntrdvpnl">
      <label class="crptonmlblup">
        Bitcoin (BTC)
      </label>
      <label class="crptoamnlblundr">
        {{w_btc}}
      </label>
    </div>
    <div class="psorightamntmid">
      <label class="phplbllft">Php</label>
      <label class="lblinpesorhgt">{{btc_in_php}}</label>
    </div>
  </div>
   <!-- End Crypto Panel -->
    <!-- Start USDT Panel -->
   <div class="snglcrptopnlmid" *ngIf="v_usdt != '0'">
      <div class="crptolgolft">
        <img src="assets/imgs/cryptologo/usdtlogo.png" class="crptoimglgo"/>
      </div>
      <div class="dtlscntrdvpnl">
        <label class="crptonmlblup">
         US Dollar Tether (USDT)
        </label>
        <label class="crptoamnlblundr">
         {{v_usdt}}
        </label>
      </div>
      <div class="psorightamntmid">
        <label class="phplbllft">Php</label>
        <label class="lblinpesorhgt">0.00</label>
      </div>
    </div>
 <!-- End USDT Panel -->
 <!-- Start LTC Panel -->
    <div class="snglcrptopnlmid" *ngIf="v_ltc != '0'">
        <div class="crptolgolft">
          <img src="assets/imgs/cryptologo/ltclogo.png" class="crptoimglgo"/>
        </div>
        <div class="dtlscntrdvpnl">
          <label class="crptonmlblup">
            Litecoin (LTC)
          </label>
          <label class="crptoamnlblundr">
           {{v_ltc}}
          </label>
        </div>
        <div class="psorightamntmid">
          <label class="phplbllft">Php</label>
          <label class="lblinpesorhgt">0.00</label>
        </div>
      </div>
 <!-- End LTC Panel -->
 <!-- Start BTG Panel -->
<div class="snglcrptopnlmid" *ngIf="v_btg != '0'">
  <div class="crptolgolft">
    <img src="assets/imgs/cryptologo/btglogo.png" class="crptoimglgo"/>
  </div>
  <div class="dtlscntrdvpnl">
    <label class="crptonmlblup">
     Bitcoin Gold (BTG)
    </label>
    <label class="crptoamnlblundr">
     {{v_btg}}
    </label>
  </div>
  <div class="psorightamntmid">
    <label class="phplbllft">Php</label>
    <label class="lblinpesorhgt">0.00</label>
  </div>
</div>
<!-- End BTG Panel -->
  <!-- Start ETH Panel -->
  <div class="snglcrptopnlmid" *ngIf="v_eth != '0'">
    <div class="crptolgolft">
      <img src="assets/imgs/cryptologo/ethlogo.png" class="crptoimglgo"/>
    </div>
    <div class="dtlscntrdvpnl">
      <label class="crptonmlblup">
       Etherium (ETH)
      </label>
      <label class="crptoamnlblundr">
       {{v_eth}}
      </label>
    </div>
    <div class="psorightamntmid">
      <label class="phplbllft">Php</label>
      <label class="lblinpesorhgt">0.00</label>
    </div>
  </div>
<!-- End ETH Panel -->
<!-- Start ZEC Panel -->
<div class="snglcrptopnlmid" *ngIf="v_zec != '0'">
  <div class="crptolgolft">
    <img src="assets/imgs/cryptologo/zeclogo.png" class="crptoimglgo"/>
  </div>
  <div class="dtlscntrdvpnl">
    <label class="crptonmlblup">
     ZCash (ZEC)
    </label>
    <label class="crptoamnlblundr">
     {{v_zec}}
    </label>
  </div>
  <div class="psorightamntmid">
    <label class="phplbllft">Php</label>
    <label class="lblinpesorhgt">0.00</label>
  </div>
</div>
<!-- End ZEC Panel -->
<!-- Start LCC Panel -->
<div class="snglcrptopnlmid" *ngIf="v_lcc != '0'">
  <div class="crptolgolft">
    <img src="assets/imgs/cryptologo/lcclogo.png" class="crptoimglgo"/>
  </div>
  <div class="dtlscntrdvpnl">
    <label class="crptonmlblup">
     Litecoin Cash (LCC)
    </label>
    <label class="crptoamnlblundr">
     {{v_lcc}}
    </label>
  </div>
  <div class="psorightamntmid">
    <label class="phplbllft">Php</label>
    <label class="lblinpesorhgt">0.00</label>
  </div>
</div>
<!-- End LCC Panel -->
<!-- Start BCH Panel -->
<div class="snglcrptopnlmid" *ngIf="v_bcc != '0'">
  <div class="crptolgolft">
    <img src="assets/imgs/cryptologo/bchlogo.png" class="crptoimglgo"/>
  </div>
  <div class="dtlscntrdvpnl">
    <label class="crptonmlblup">
     Bitcoin Cash (BCH)
    </label>
    <label class="crptoamnlblundr">
     {{v_bcc}}
    </label>
  </div>
  <div class="psorightamntmid">
    <label class="phplbllft">Php</label>
    <label class="lblinpesorhgt">0.00</label>
  </div>
</div>
<!-- End BCH Panel -->
</div>
<!-- End Crypto Panels New -->


<!-- Start new Shortcut Nav Buttons -->
<shortcut></shortcut>
<!-- End new Shortcut Nav Buttons -->
  </div>




<div class="pnlscntnradsandvrfy">
<!-- Start adds panel -->
 <ads></ads>
<!-- End adds panel -->
</div>





<!-- End Bottom Slider -->
<!--   </div> -->
<!-- End bottom Container for Verification notifs -->


<!-- Start History Div -->
<div class="hstrydvcntr">
 <!-- Start History Div`s Loading -->
 <div class="ldingsgndv" *ngIf="loading">
    <ion-spinner name="crescent" color="spinner" class="spnrcrcl"></ion-spinner>
 </div>
 <!-- End History Div`s Loading -->
<!-- Start History Panel -->
<div class="hstrypnls" *ngIf="!loading">
    <div *ngFor="let item of items">
      <div class="hstrypnlsdvvr">
        <div class="tpdvpnl">
          <div class="ttldv">{{item.action}}</div> 
          <div class="dtdtl">{{item.time}}</div>
        </div>

        <div class="btmdvpnl">
          <div class="descbtm">{{item.description}}</div>
          <div class="dtdtl">{{item.date}}</div>
        </div>
      </div>
    </div>

    <div class="hstrypnlsdvvrsmr" (click)="page('history')" *ngIf="items.length == 10">
      <label class="smrtxt">Tap here to See more</label>
    </div>
</div>
<!-- End History Panel -->
</div>
<!-- End History Div -->
<!-- End Main Content -->
</div>
</ion-content>