page-history {
    @media only screen and (max-width: 375px) {
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar {
            overflow-y:hidden !important;
            border:none;
            width:0;
            background: rgba(0,0,0,0);
        }
        .hstrypnls{
            width:96vw;
            height:auto;
            margin:0%;
            padding:0%;
            padding:2%;
            padding-bottom:1%;
            margin-left:2vw;
            margin-top:2%;
        }
        .spnrdvcntr{
            width:100%;
            height:75vh;
            padding:0%;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
        .ldingplswt{
            font-size:3.5vw;
            font-style:'roboto';
            color:#FFFFFF;
            margin-top:2vw;
        }
        .spnrcrcl{
            margin:0%;
            padding:0%;
            height:15%;
            width:15%;
        }
        .hstrypnlsdvvr{
            width:100%;
            height:auto;
            height:auto;
            display: flex;
            flex-direction:column;
            border-bottom:1px solid #2a2b3a;
            background-color:#35364b;
            margin-bottom:2vw;
            padding:2vw;
        }
        .tpdvpnl{
            width:100%;
            height:auto;
            display:flex;
            flex-direction:row;
            padding-top:2vw;
            padding-bottom:1.5vw;
        }
        .ttldv{
            width:70%;
            font-style:'roboto';
            font-size:4.5vw;
            color:#FFFFFF;
        }
        .dtdtl{
            width:30%;
            text-align:right;
            font-style:'roboto';
            font-size:3.3vw;
            color:#FFFFFF;
        }
        .btmdvpnl{
        width:100%;
        height:auto;
        font-style:'roboto';
        font-size:3.5vw;
        color:#FFFFFF;
        padding-top:0vw;
        padding-bottom:2vw;
        display:flex;
        flex-direction:row;
        }
        .descbtm{
            width:70%;
            font-style:'roboto';
            font-size:3.8vw;
            color:#FFFFFF;
        }
}
@media only screen and (min-width: 376px) {
    .scroll-content{
        padding:0%;
        background-color:#2E2F41;
    }
    .scroll-content::-webkit-scrollbar{
        border:none;
        width:0;
        background: rgba(0,0,0,0);
    }
    .hstrypnls{
        width:96vw;
        height:auto;
        margin:0%;
        padding:0%;
        padding:2%;
        padding-bottom:1%;
        margin-left:2vw;
        margin-top:2%;
    }
    .hstrypnlsdvvr{
        width:100%;
        height:auto;
        display: flex;
        flex-direction:column;
        border-bottom:1px solid #2a2b3a;
        background-color:#35364b;
        margin-bottom:2vw;
        padding:2vw;
    }
    .tpdvpnl{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:row;
        padding-top:2vw;
        padding-bottom:1.5vw;
    }
    .spnrdvcntr{
        width:100%;
        height:75vh;
        padding:0%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .ttldv{
        width:70%;
        font-style:'roboto';
        font-size:4.5vw;
        color:#FFFFFF;
    }
    .dtdtl{
        width:30%;
        text-align:right;
        font-style:'roboto';
        font-size:3.3vw;
        color:#FFFFFF;
    }
    .btmdvpnl{
        width:100%;
        height:auto;
        font-style:'roboto';
        font-size:3.5vw;
        color:#FFFFFF;
        padding-top:0vw;
        padding-bottom:2vw;
        display:flex;
        flex-direction:row;
    }
    .descbtm{
        width:70%;
        font-style:'roboto';
        font-size:3.8vw;
        color:#FFFFFF;
    }
    .spnrcrcl{
        margin:0%;
        padding:0%;
        height:10%;
        width:10%;
    }
    .ldingplswt{
        font-size:3.8vw;
        font-style:'roboto';
        color:#FFFFFF;
        margin-top:2vw;
    }
}
}