page-verifyemail {
    @media only screen and (max-width: 375px) {
        .scroll-content{
            background-color:#2E2F41;
            overflow-y:hidden;
        }
        .scroll-content::-webkit-scrollbar {
            overflow-y:hidden !important;
            border:none;
            width:0;
            background: rgba(0,0,0,0);
        }
        .whldv{
            width:100vw;
            height:100vh;
            display:flex;
            flex-direction:column;
        }
        .hdngdv{
            width:100%;
            height:50vh;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
        .cntntdv{
            width:100%;
            height:10vh;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .bttmdv{
            width:100%;
            height:40vh;
            display:flex;
            flex-direction:column;
            align-items:center;
            
        }
        .emlitminpt{
            width:90vw;
            background-color:#2E2F41;
            padding:0%;
        }
        .emlinptbx{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.5vw;
            font-weight:normal;
        }
        .hdnglbl{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:5vw;
            font-weight:bold;
        }
        .hdnsbttl{
            width:80vw;
            text-align:center;
            color: rgb(179, 178, 228);
            padding-top:1%;
            font-size:4vw;
        }
        .emlicn{
            height:40vw;
            width:40vw;
        }
        .sndbtn{
            width:90vw;
            margin:0%;
            font-size:4.5vw;
            font-style:'roboto';
            color:#FFFFFF;
            padding-top:7%;
            padding-bottom:7%;
            margin-top:5%;
        }
    }
    @media only screen and (min-width: 376px) {
        .scroll-content{
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar {
            overflow-y:hidden !important;
            border:none;
            width:0;
            background: rgba(0,0,0,0);
           }
           .whldv{
            width:100vw;
            height:100vh;
            display:flex;
            flex-direction:column;
        }
        .hdngdv{
            width:100%;
            height:50vh;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
        .emlicn{
            height:35vw;
            width:35vw;
        }
        .hdnglbl{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:2.8vh;
            font-weight:bold;
        }
        .hdnsbttl{
            width:80vw;
            text-align:center;
            color: rgb(179, 178, 228);
            padding-top:1%;
            font-size:2.3vh;
        }
        .cntntdv{
            width:100%;
            height:10vh;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .emlitminpt{
            width:90vw;
            background-color:#2E2F41;
            padding:0%;
        }
        .bttmdv{
            width:100%;
            height:40vh;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .sndbtn{
            width:90vw;
            margin:0%;
            font-size:4.5vw;
            font-style:'roboto';
            color:#FFFFFF;
            padding-top:7%;
            padding-bottom:7%;
            margin-top:5%;
        }
        .emlinptbx{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.5vw;
            font-weight:normal;
        }
    }
}
