page-converter {
    
    @media only screen and (max-width: 375px) {
        .scroll-content{
            overflow-y:hidden;
            padding:0%;
            background-color:transparent;
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
.clsbtncnvrt{
    background-color:transparent;
    }
.cnvrtnbdy{
        width:100vw;
        height:100vh;
        background-color:#000000;
        z-index:1;
        opacity:.9;
        position:absolute;
    }
    .cnrtionpnlhldr{
        width:auto;
        height:auto;
        padding:0%;
        position:relative;
        z-index:8;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .cnvrtpnlbdy{
        width:90vw;
        background-color:#1E1E28;
        padding:0%;
        border-radius:8px;
    }
    .cnvrtpnlhdr{
        width:100%;
        background-color:transparent;
    }
    .cnvrtionoption{
        color:#FFFFFF;
        font-style:'roboto';
        font-size:4vw;
        font-weight:bold;
    }
    .pnlsubhdr{
        width:100%;
        padding:0%;
        padding:2%;
        padding-bottom:3%;
        display:flex;
        flex-direction:column;
    }
    .inptbr{
        width:95%;
    }
    .inptbrtwo{
        width:100%;
    }
    .pnlcntnt{
        width:100%;
        background-color:#2E2F41;
        border-radius:0px 0px 8px 8px;
        padding:0%;
        padding-top:8%;
        margin:0%;
    }
    .currntblnccnvrt{
        color:rgb(194, 197, 255);
        font-style:'roboto';
        font-size:3.5vw;
    }
    .crntblncamnt{
        color:rgb(224, 225, 255);
        font-style:'roboto';
        font-size:3.5vw;
    }
    .entramn{
        color:#FFFFFF;
        font-style:'roboto';
        font-size:4vw;  
    }
    .bdyhdrwht{
        background-color:transparent;
        color:#FFFFFF;
        font-size:4.2vw;
        font-weight:normal;
        padding:0%;
        padding-top:3%;
        padding-left:5%;
        padding-right:5%;
    }
    .bdyinpthldr{
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding:0%;
        padding-top:5%;
    }
    .cntricn{
        width:100%;
        color:#FFFFFF;
        font-size:5vw;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:3%;
        margin-bottom:3%;
    }
    .lblinpt{
        font-size:3.8vw;
        color:#FFFFFF !important;
    }
    .cnvrtbtnbtm{
        width:100%;
        margin:0%;
        padding-top:8%;
        padding-bottom:8%;
        border:0%;
        border-radius:8px;
    }
    .btmspnrbtn{
        width:100%;
        /* height:10vw; */
        padding:0%;
        margin:0%;
        border:0%;
        border-radius:8px;
        padding-top:2%;
        padding-bottom:2%;
    }
    .spnrbtn{
        padding:0%;
        margin:0%;
        width:100%;
    }
    .btmbtnhldr{
        width:100%;
        padding:0%;
        margin:0%;
        text-align:center;
        margin-top:8%;
        border-radius:0px 0px 8px 8px;
        background-color:#1E1E28;
    }
    .exrt{
        background-color:transparent;
        margin-top:5%;
        color:rgb(93, 122, 238);
        font-size:4vw;
        text-align:center;
    }
    .btcrtngs{
        width:100%;
        height:auto;
        display:flex;
        flex-direction:row;
        margin-top:5%;
        animation-name:scaler;
        animation-duration:.50s;
        animation-fill-mode:forwards;
    }

    @keyframes scaler{
        from{
            transform:scale(0);
        }
        to{
            transform:scale(1)
        }
    }

    .ldingdvcrncy{
        width:100%;
        height:auto;
        background-color:transparent;
        display:flex;
        flex-direction:column;
        margin-top:5%;
        padding:2%;
    }
    .ldrdotsbtm{
        width:100%;
        padding:0%;
        margin:0%;
        border:0%;
        border-radius:8px;
        padding-top:2%;
        padding-bottom:2%;
    }
    .bypnl{
        width:49%;
        display:flex;
        flex-direction:column;
        background-color:transparent;
        align-items:center;
        justify-content:center;
        padding:2%;
        border:1px solid rgb(93, 122, 238);
    }
    .slpnl{
        width:49%;
        display:flex;
        flex-direction:column;
        background-color:transparent;
        margin-left:2%;
        align-items:center;
        justify-content:center;
        padding:2%;
        border:1px solid rgb(93, 122, 238);
    }
    .lblctgry{
        font-size:4.5vw;
        font-style:'roboto';
        color:#FFFFFF;
    }
}
@media only screen and (min-width: 376px) {
    .scroll-content{
        overflow-y:hidden;
        padding:0%;
        background-color:transparent;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .cnvrtnbdy{
        width:100vw;
        height:100vh;
        background-color:#000000;
        z-index:1;
        opacity:.9;
        position:absolute;
    }
    .cnrtionpnlhldr{
        width:auto;
        height:auto;
        padding:0%;
        position:relative;
        z-index:8;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
    }
    .cnvrtpnlbdy{
        width:75vw;
        background-color:#1E1E28;
        padding:0%;
        border-radius:8px;
    }
    .cnvrtpnlhdr{
        width:100%;
        background-color:transparent;
    }
    .cnvrtionoption{
        color:#FFFFFF;
        font-style:'roboto';
        font-size:2.3vh;
        font-weight:bold;
    }
    .pnlsubhdr{
        width:100%;
        padding:0%;
        padding:2%;
        padding-bottom:3%;
        display:flex;
        flex-direction:column;
    }
    .currntblnccnvrt{
        color:rgb(194, 197, 255);
        font-style:'roboto';
        font-size:2vh;
    }
    .crntblncamnt{
        color:rgb(224, 225, 255);
        font-style:'roboto';
        font-size:2vh;
    }
    .pnlcntnt{
        width:100%;
        background-color:#2E2F41;
        border-radius:0px 0px 8px 8px;
        padding:0%;
        padding-top:8%;
        margin:0%;
    }
    .bdyhdrwht{
        background-color:transparent;
        color:#FFFFFF;
        font-size:2.3vh;
        font-weight:normal;
        padding:0%;
        padding-top:1%;
        padding-left:5%;
        padding-right:5%;
    }
    .bdyinpthldr{
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding:0%;
        padding-top:5%;
    }
    .inptbr{
        width:95%;
    }
    .lblinpt{
        font-size:2vh;
        color:#FFFFFF !important;
    }
    .cntricn{
        width:100%;
        color:#FFFFFF;
        font-size:3.8vh;
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:3%;
        margin-bottom:3%;
    }
    .btmbtnhldr{
        width:100%;
        padding:0%;
        margin:0%;
        text-align:center;
        margin-top:8%;
        border-radius:0px 0px 8px 8px;
        background-color:#1E1E28;
    }
    .cnvrtbtnbtm{
        width:100%;
        margin:0%;
        padding-top:8%;
        padding-bottom:8%;
        border:0%;
        border-radius:8px;
    }
    .exrt{
        background-color:transparent;
        margin-top:5%;
        color:rgb(93, 122, 238);
        font-size:3.2vw;
        text-align:center;
    }
    .btcrtngs{
        width:100%;
        height:auto;
        /* background-color:red; */
        display:flex;
        flex-direction:row;
        margin-top:5%;
        animation-name:scaler;
        animation-duration:.50s;
        animation-fill-mode:forwards;
    }

    @keyframes scaler{
        from{
            transform:scale(0);
        }
        to{
            transform:scale(1)
        }
    }
    .bypnl{
        width:49%;
        display:flex;
        flex-direction:column;
        background-color:transparent;
        align-items:center;
        justify-content:center;
        padding:2%;
        border:1px solid rgb(93, 122, 238);
    }
    .slpnl{
        width:49%;
        display:flex;
        flex-direction:column;
        background-color:transparent;
        margin-left:2%;
        align-items:center;
        justify-content:center;
        padding:2%;
        border:1px solid rgb(93, 122, 238);
    }
    .lblctgry{
        font-size:4vw;
        font-style:'roboto';
        color:#FFFFFF;
    }
    .ldingdvcrncy{
        width:100%;
        height:auto;
        background-color:transparent;
        display:flex;
        flex-direction:column;
        margin-top:5%;
        padding:2%;
    }
    .ldrdotsbtm{
        width:100%;
        padding:0%;
        margin:0%;
        border:0%;
        border-radius:8px;
        padding-top:2%;
        padding-bottom:2%;
    }
 }
}