page-moneytransfer {
    @media only screen and (max-width: 375px) {
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar {
            border:0;
            width:0;
            background: rgba(0,0,0,0);
        }   
        .pnldv{
            width:100vw;
            height:auto;
            padding:0%;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .taplblbtm{
            color: rgb(93, 122, 238);
            font-size:5vw;
            font-style:'roboto';
            margin-top:5vw;
        }
        .btndv{
           width:100vw;
           height:auto;
           padding:0%;
           display:flex;
           align-items:center;
           justify-content:center;
        }
        .prcdbtn{
            width:90vw;
            margin:0%;
            font-size:4.5vw;
            font-style:'roboto';
            color:#FFFFFF;
            padding-top:7%;
            padding-bottom:7%;
            background-color:#1E1E28 !important;
        }
        .entramnt{
            text-align:right;
            font-size:5vw;
            padding-right:5vw;
        }
        .rcvrnmbr{
            width:85vw;
            height:auto;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            margin-top:10%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
        .dtllbl{
            color:#949495;
            padding-left:5vw;
            font-size:5vw;
            font-style:'roboto';
            float:left;
            width:100vw;
        }
        .amntlbl{
            padding:0%;
            padding-left:5vw;
            font-size:5vw;
            font-style:'roboto';
        }
        .scnr{
            width:50vw;
            height:50vw;
            padding:0%;
            background-color:transparent !important;
            border:none;
        }
        .imgqrscnr{
            width:100%;
            height:100%;
        }
        .tonbr{
            color:#FFFFFF;
            font-size:5vw;
            font-style:'roboto';
            font-weight:bold;
            float:right;
            padding-right:5vw;
        }
        .amntdtls{
            width:85vw;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
        .toptier{
            width:100vw;
            height:auto;
            padding:0%;
            margin:0%;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            padding-top:10vw;
            padding-bottom:3vw;
        }
        .inptflds{
            width:85vw;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
        .btmspcrsnd{
            margin-bottom:2vw;
        }
        .slcthdrsrvces{
            color:#FFFFFF;
            font-size:5vw;
            font-style:'roboto';
            margin:0%;
            margin-left:4vw;
            float:left;
        }
        .nmbrinpt{
            width:40% !important;
            float:right;
            margin-right:2vw;
        }
    }
    @media only screen and (min-width: 376px) {
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar {
            border:0;
            width:0;
            background: rgba(0,0,0,0);
        } 
        .pnldv{
            width:100vw;
            height:auto;
            padding:0%;
            display:flex;
            flex-direction:column;
            align-items:center;
        }
        .scnr{
            width:45vw;
            height:45vw;
            padding:0%;
            background-color:transparent !important;
            border:none;
        }  
        .imgqrscnr{
            width:100%;
            height:100%;
        }
        .taplblbtm{
            color: rgb(93, 122, 238);
            font-size:4.6vw;
            font-style:'roboto';
            margin-top:3vw;
        }
        .rcvrnmbr{
            width:85vw;
            height:auto;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            margin-top:5%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
        .dtllbl{
            color:#949495;
            padding-left:5vw;
            font-size:4.6vw;
            font-style:'roboto';
            float:left;
        }
        .tonbr{
            color:#FFFFFF;
            font-size:4.6vw;
            font-style:'roboto';
            font-weight:bold;
            float:right;
            padding-right:5vw;
        }
        .amntdtls{
            width:85vw;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
        .amntlbl{
            padding:0%;
            padding-left:5vw;
            font-size:4.6vw;
            font-style:'roboto';
        }
        .entramnt{
            text-align:right;
            font-size:4.6vw;
            padding-right:5vw;
        }
         .prcdbtn{
            width:90vw;
            margin:0%;
            font-size:4.3vw;
            font-style:'roboto';
            color:#FFFFFF;
            padding-top:7%;
            padding-bottom:7%;
            background-color:#1E1E28 !important;
        }
        .toptier{
            width:100vw;
            height:auto;
            padding:0%;
            margin:0%;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            padding-top:10vw;
            padding-bottom:3vw;
        }
        .btndv{
            width:100vw;
            height:auto;
            padding:0%;
            display:flex;
            align-items:center;
            justify-content:center;
         }
         .btmspcrsnd{
            margin-bottom:2vw;
        }
        .slcthdrsrvces{
            color:#FFFFFF;
            font-size:5vw;
            font-style:'roboto';
            margin:0%;
            margin-left:4vw;
            float:left;
        }
        .inptflds{
            width:85vw;
            background-color:#2E2F41;
            color:#FFFFFF;
            text-align:center;
            padding:0%;
            border:0%;
            border:2px solid rgb(93, 122, 238) !important;
            border-radius:25px;
        }
    }
}
