page-account {
    @media only screen and (max-width: 375px) {
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar {
            border:none;
            width:0;
            background: rgba(0,0,0,0);
        }
        .qrhldr{
            width:100vw;
            height:auto;
            padding:0%;
        }
        .idntfctnimgpnl{
            width:100vw;
            height:auto;
            background-color:#1E1E28;
            padding-top:5vw;
            padding-bottom:5vw;
        }
        .qrcodecs{
            width:56vw;
            height:56vw;
            padding:0%;
            margin-left:22vw;
        }
        .qrcrd{
            background-color:transparent;
            border:none;
            padding:0%;
        }
        .accntdtls{
            width:100vw;
            height:auto;
            padding:0%;
            padding-top:4vw;
        }
        .dtlcrdspnl{
            width:96vw;
            height:auto;
            background-color:#35364b;
            margin:0%;
            margin-bottom:2vw;
            margin-left:2vw;
            display: flex;
            flex-direction:column;
            padding:0%;
            padding:2vw;
        }
        .ttltxt{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:3.7vw;
            margin-bottom:1%;
        }
        .dtlinfo{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.5vw;
            font-weight:bold;
        }
        .addrsinf{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.2vw;
            font-weight:bold;
        }
    }
    @media only screen and (min-width: 376px){
        .scroll-content{
            padding:0%;
            background-color:#2E2F41;
        }
        .scroll-content::-webkit-scrollbar{
            border:none;
            width:0;
            background: rgba(0,0,0,0);
        }
        .qrhldr{
            width:100vw;
            height:auto;
            padding:0%;
        }
        .idntfctnimgpnl{
            width:100vw;
            height:auto;
            background-color:#1E1E28;
            padding-top:5vw;
            padding-bottom:5vw;
        }
        .qrcodecs{
            width:56vw;
            height:56vw;
            padding:0%;
            margin-left:22vw;
        }
        .qrcrd{
            background-color:transparent;
            border:none;
            padding:0%;
        }
        .accntdtls{
            width:100vw;
            height:auto;
            padding:0%;
            padding-top:4vw;
        }
        .dtlcrdspnl{
            width:96vw;
            height:auto;
            background-color:#35364b;
            margin:0%;
            margin-bottom:4vw;
            margin-left:2vw;
            display: flex;
            flex-direction:column;
            padding:0%;
            padding:2vw;
        }
        .ttltxt{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:3.5vw;
            margin-bottom:1%;
        }
        .dtlinfo{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.5vw;
            font-weight:bold;
        }
        .addrsinf{
            color:#FFFFFF;
            font-style:'roboto';
            font-size:4.2vw;
            font-weight:bold;
        }
    }
}