
 <div class="shrtctbttnhldr">
  <button ion-button color="shortcutbuttons" class="shrtctbtnnw" (click)="page('money')">
    <div class="snglbtncntnt">
      <img src="assets/imgs/shortcutnavlogos/addmoneylogo.png" class="btnlgshrtct"/>
      <label class="btnlblshrtct">ADD MONEY</label>
    </div>
  </button>
  <button ion-button color="shortcutbuttons" class="shrtctbtnnw" (click)="page('convert')">
    <div class="snglbtncntnt">
      <img src="assets/imgs/shortcutnavlogos/convertlogo.png" class="btnlgshrtct"/>
      <label class="btnlblshrtct">CONVERT</label>
    </div>
  </button>
  <button ion-button color="shortcutbuttons" class="shrtctbtnnw" (click)="page('load')">
    <div class="snglbtncntnt">
      <img src="assets/imgs/shortcutnavlogos/buyloadlogo.png" class="btnlgshrtct"/>
      <label class="btnlblshrtct">BUY LOAD</label>
    </div>
  </button>
  <button ion-button color="shortcutbuttons" class="shrtctbtnnw" (click)="page('bills')">
    <div class="snglbtncntnt">
      <img src="assets/imgs/shortcutnavlogos/paybillslogo.png" class="btnlgshrtct"/>
      <label class="btnlblshrtct">PAY BILLS</label>
    </div>
  </button>
  <button ion-button color="shortcutbuttons" class="shrtctbtnnw" (click)="page('transfer')">
    <div class="snglbtncntnt">
      <img src="assets/imgs/shortcutnavlogos/transferlogo.png" class="btnlgshrtct"/>
      <label class="btnlblshrtct">TRANSFER</label>
    </div>
  </button>
</div>

